.cards{
    padding: 14rem 0rem;
    background: var(--main-lighter);
}

.cards .card{
    background: white;
    border-radius: 2rem;
    border: var(--border) 1px solid;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cards .card .illustration-wrapper{
    width: 100%;
    height: 200px;
    background: var(--main-lighter);
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.cards .card .illustration-wrapper .illustration{
    width: 200px;
    height: 100px;
    background: var(--main);
    top: 0;
    right: 0;
    position: absolute;
    border-radius: 0 0 0 2rem;
}
.cards .card .content{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}